TIL(Today I learned)

Title: IDE requirements(개발환경 요구사항과 학습단계)

1.학습목표
  가. 자바 프로그램을 구현하고, 실행하기 위한 개발환경을 구축하고, 간단한 자바 소스 코드를 실행하는 경험을 한다.
  나. 구현한 소스 코드를 github  저장소를 통해 관리하는 경험을 한다.
  다. 반복 학습을 통해 자바 개발환경을 구축하고, github 저장소를 통해 관리하는 역량을 체득한다.

2. 요구사항
  가. 자바 프로그램을 실행할 수 있는 자바 개발 도구(Java Development Kit, 이하 JDK)와 자바프로그램 구현한다.
  나. eclipse 실행하고 프로젝트를 생성한 후 "Hello World"메세지를 출력하는 프로그램을 구현하고 실행한다.
  다. 구현한 소스 코드를 저장하고 관리하기 위한 github 저장소를 생성한다.
  라. eclipse 프로젝트와 github 저장소를 연결해 소스 코드를 저장소에 추가한다.
  마. eclipse 프로젝트에서 소스코드를 수정한 후 수정된 내용을 github 저장소에 반영한다. 